*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 78em) {
    html {
      font-size: 50%; } }

body {
  color: #000;
  font-weight: 300; }

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 24rem 4fr 3fr;
  grid-template-rows: 2fr 5fr;
  gap: 1.5rem; }
  @media only screen and (max-width: 78em) {
    .container {
      gap: 1rem; } }
  @media only screen and (max-width: 62.5em) {
    .container {
      gap: 0.6rem; } }
  @media only screen and (max-width: 50em) {
    .container {
      grid-template-columns: 24rem 4fr;
      grid-template-rows: 2fr 2fr 2fr 5fr 5fr; } }
  @media only screen and (max-width: 37.5em) {
    .container {
      display: flex;
      flex-direction: column; } }

.heading-1 {
  font-size: 2.5rem;
  font-family: sans-serif; }
  @media only screen and (max-width: 31em) {
    .heading-1 {
      font-size: 2.2rem; } }

.heading-2 {
  font-size: 2rem;
  font-family: sans-serif; }

.heading-3 {
  font-size: 1.6rem;
  font-family: sans-serif; }

.heading-4 {
  font-size: 1.1rem;
  font-family: sans-serif; }

.course {
  margin: 1rem 3rem 3rem 3rem; }
  @media only screen and (max-width: 78em) {
    .course {
      margin: 0.8rem 2.6rem 2.6rem 2.6rem; } }
  @media only screen and (max-width: 50em) {
    .course {
      display: none; } }
  @media only screen and (max-width: 31em) {
    .course {
      display: flex;
      flex-direction: column; } }
  .course__container {
    display: flex;
    gap: 2rem; }
  .course__heading {
    font-size: 1.2rem;
    font-family: sans-serif;
    color: lightgrey; }
    .course__heading:first-child {
      color: #000; }

.price {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin: 2rem 0; }
  .price__box {
    display: flex;
    background-color: rgba(211, 211, 211, 0.3);
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 0.4rem 1rem; }
  .price__heading {
    font-size: 1.2rem;
    font-family: sans-serif;
    color: #000; }
  .price__caret {
    display: flex;
    flex-direction: column; }
    .price__caret-icon {
      height: 1.4rem;
      width: 1.4rem;
      color: grey; }

.figma {
  padding: 1rem;
  background-color: rgba(0, 255, 255, 0.1);
  border-radius: 15px;
  margin: 2.8rem 0; }
  @media only screen and (max-width: 31em) {
    .figma {
      margin: 2rem 0; } }
  .figma__content {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 1.2rem; }
    @media only screen and (max-width: 31em) {
      .figma__content {
        grid-template-columns: 12rem 2fr; } }
  .figma__box {
    box-sizing: border-box;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 1.7rem; }
  .figma__img {
    height: 8rem;
    width: 7.5rem;
    border-radius: 10px; }
    @media only screen and (max-width: 31em) {
      .figma__img {
        width: 8rem; } }
  .figma__textbox {
    display: flex;
    flex-direction: column;
    gap: 0.2rem; }
  .figma__text {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 0.8rem; }
  .figma__time {
    display: flex;
    gap: 2rem; }
    .figma__time-heading {
      font-size: 1rem;
      font-family: sans-serif;
      color: grey; }
    .figma__time-list {
      font-size: 1rem;
      font-family: sans-serif;
      color: grey; }
  .figma__sold {
    font-size: 1rem;
    font-family: sans-serif;
    color: grey; }
  .figma__header {
    font-size: 1.2rem;
    font-family: sans-serif;
    color: #000; }

.number {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin: 2.8rem 0; }
  @media only screen and (max-width: 31em) {
    .number {
      display: none; } }
  .number__box {
    background-color: rgba(0, 0, 255, 0.1);
    border-radius: 12px;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center; }
    @media only screen and (max-width: 62.5em) {
      .number__box {
        height: 14.8rem;
        width: 16rem; } }
  .number__code {
    font-size: 6rem;
    font-family: sans-serif;
    color: #D67F21; }
    .number__code-1 {
      font-size: 6rem;
      font-family: sans-serif;
      color: #000; }
  .number__text {
    font-size: 1rem;
    font-family: sans-serif;
    color: grey; }

.gol {
  margin: 1rem 3rem 3rem 3rem; }
  @media only screen and (max-width: 78em) {
    .gol {
      margin: 0.8rem 2.6rem 2.6rem 2.6rem; } }
  .gol__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 16rem 2fr;
    gap: 1.5rem; }
    @media only screen and (max-width: 31em) {
      .gol__container {
        display: flex;
        flex-direction: column; } }
  .gol__box {
    background-color: rgba(255, 192, 203, 0.2);
    padding: 2.2rem 2rem;
    border-radius: 22px;
    display: flex;
    flex-direction: column;
    gap: 1.4rem; }
    .gol__box-header {
      display: flex;
      justify-content: space-between; }
    .gol__box-icon {
      height: 2.2rem;
      width: 2.2rem;
      color: #000; }
    .gol__box-link {
      text-decoration: none;
      font-size: 1.2rem;
      color: #49137C;
      font-weight: 600; }
    .gol__box-sold {
      font-size: 2.5rem;
      font-family: sans-serif;
      color: rgba(73, 19, 124, 0.2); }
    .gol__box-text {
      display: flex;
      justify-content: space-between; }
      .gol__box-text-1 {
        font-size: 1.2rem;
        font-family: sans-serif;
        color: #000; }
      .gol__box-text-2 {
        font-size: 1.2rem;
        color: #000; }
    .gol__box-meter {
      height: 0.8rem;
      position: relative;
      background-color: #fff;
      border: none;
      border-radius: 10px;
      overflow: hidden; }
      .gol__box-meter span {
        display: block;
        border-radius: 10px;
        border: none;
        height: 100%; }
    .gol__box-count {
      background-color: #49137C; }
  .gol__plan {
    background-color: rgba(0, 255, 255, 0.1);
    grid-row: 2 / -2;
    border-radius: 22px; }
    .gol__plan-box {
      padding: 2rem;
      border-radius: 15px;
      display: flex;
      flex-direction: column;
      gap: 2.6rem; }
    .gol__plan-text {
      display: flex;
      justify-content: space-between; }
    .gol__plan-content {
      display: flex;
      align-items: center;
      gap: 1rem; }
    .gol__plan-link {
      box-sizing: border-box;
      background-color: #fff;
      border-radius: 50%;
      text-align: center;
      height: 3rem;
      width: 3rem; }
    .gol__plan-icon {
      height: 1.5rem;
      width: 1.5rem;
      color: red;
      padding-top: 0.7rem; }
      .gol__plan-icon-1 {
        height: 1.5rem;
        width: 1.5rem;
        color: blue;
        padding-top: 0.7rem; }
      .gol__plan-icon-2 {
        height: 1.5rem;
        width: 1.5rem;
        color: aqua;
        padding-top: 0.7rem; }
    .gol__plan-sold {
      font-size: 1.4rem;
      font-family: sans-serif;
      color: grey; }
    .gol__plan-btn {
      border: none;
      border-radius: 12px;
      background-color: rgba(255, 255, 255, 0.6);
      height: 3rem;
      width: 3rem; }
      .gol__plan-btn-icon {
        height: 1.4rem;
        width: 1.4rem;
        padding-top: 0.2rem; }
  .gol__people {
    background-color: rgba(0, 0, 255, 0.1);
    grid-row: 1 / -1;
    border-radius: 15px; }
    .gol__people-box {
      padding: 1.4rem;
      display: flex;
      flex-direction: column;
      gap: 9rem; }
      @media only screen and (max-width: 31em) {
        .gol__people-box {
          gap: 2rem; } }
    .gol__people-number {
      display: flex;
      flex-direction: column;
      gap: 0.6rem; }
      @media only screen and (max-width: 31em) {
        .gol__people-number {
          display: flex;
          flex-direction: row;
          gap: 1.8rem; } }
      .gol__people-number-num {
        font-size: 1.8rem;
        color: lightgrey; }
        .gol__people-number-num-1 {
          font-size: 1.8rem;
          color: #49137C; }
    .gol__people-content {
      display: flex;
      flex-direction: column;
      gap: 1rem; }
    .gol__people-sold {
      font-size: 1rem;
      font-family: sans-serif;
      color: grey; }
    .gol__people-img {
      display: flex;
      gap: 0.6rem;
      align-items: center; }
      .gol__people-img-box {
        height: 1.8rem;
        width: 1.8rem;
        border-radius: 50%; }
      .gol__people-img-text {
        font-size: 1rem;
        color: grey; }
  .gol__text {
    font-size: 1.5rem;
    font-family: sans-serif;
    font-weight: 700;
    padding: 3rem 0; }

.tutor {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 3rem;
  column-gap: 2rem;
  margin-bottom: 2rem; }
  @media only screen and (max-width: 37.5em) {
    .tutor {
      margin-bottom: 2rem; } }
  @media only screen and (max-width: 31em) {
    .tutor {
      display: flex;
      flex-direction: column; } }
  .tutor__content {
    box-shadow: 0.1rem 0.4rem 0.4rem rgba(0, 0, 0, 0.2);
    padding: 1.5rem 1.8rem;
    border-radius: 10px; }
    .tutor__content-box {
      display: flex;
      justify-content: space-between;
      align-items: center; }
  .tutor__img {
    display: flex;
    align-items: center;
    gap: 1rem; }
    .tutor__img-box {
      height: 2.8rem;
      width: 2.8rem;
      border-radius: 6px; }
  .tutor__text {
    display: flex;
    flex-direction: column;
    gap: 0.1rem; }
  .tutor__name {
    color: #000;
    font-size: 1rem;
    font-family: sans-serif; }
  .tutor__sold {
    color: lightgrey;
    font-size: 0.8rem;
    font-family: sans-serif; }
  .tutor__btn {
    border: none;
    border-radius: 50%;
    height: 2.4rem;
    width: 2.4rem;
    background-color: #fff;
    box-shadow: 0.1rem 0.4rem 0.4rem rgba(0, 0, 0, 0.2); }
    .tutor__btn-mail {
      color: lightgrey;
      height: 1.4rem;
      width: 1.4rem;
      padding-top: 0.4rem; }

.header {
  margin: 3rem; }
  @media only screen and (max-width: 78em) {
    .header {
      margin: 2.6rem; } }
  @media only screen and (max-width: 50em) {
    .header {
      grid-column: 1 / -1; } }
  .header__box {
    display: flex;
    flex-direction: column;
    gap: 2.2rem; }
    @media only screen and (max-width: 50em) {
      .header__box {
        display: flex;
        flex-direction: row;
        justify-content: space-between; } }
    .header__box-text {
      display: flex;
      flex-direction: column; }
  .header__sold {
    font-size: 1rem;
    font-family: sans-serif;
    color: lightgrey; }
    .header__sold-text {
      font-size: 2rem;
      font-family: sans-serif; }
  .header__img {
    display: flex;
    align-items: center;
    gap: 1rem; }
  .header__user {
    height: 3.6rem;
    width: 3.6rem;
    border-radius: 50%; }

.search {
  margin: 3rem 3rem 1rem 3rem; }
  @media only screen and (max-width: 78em) {
    .search {
      margin: 2.6rem 2.6rem 0.6rem 2.6rem; } }
  @media only screen and (max-width: 50em) {
    .search {
      grid-column: 1 / span 2; } }
  .search__content {
    display: flex;
    flex-direction: column;
    gap: 6rem; }
  .search__icon {
    display: flex;
    justify-content: end;
    gap: 2rem; }
    @media only screen and (max-width: 50em) {
      .search__icon {
        display: none; } }
    .search__icon-person {
      height: 2rem;
      width: 2rem; }
    .search__icon-not {
      height: 2rem;
      width: 2rem; }
      .search__icon-not::before {
        content: "";
        background-color: #ff0000;
        height: 0.6rem;
        width: 0.6rem;
        position: absolute;
        border-radius: 50%;
        margin-left: 1.1rem;
        margin-top: 0.2rem; }
  .search__form {
    display: flex;
    justify-content: space-between; }
    @media only screen and (max-width: 50em) {
      .search__form {
        display: flex;
        justify-content: center;
        gap: 3rem; } }
    @media only screen and (max-width: 37.5em) {
      .search__form {
        gap: 1.6rem; } }
    .search__form-btn {
      display: flex;
      align-items: center;
      margin-left: 1rem; }
    .search__form-box {
      background-color: #3E250A;
      color: #fff;
      padding: 1rem 2rem;
      border-radius: 10px;
      font-size: 1rem; }
  .search__input {
    font-family: sans-serif;
    font-size: 1.2rem;
    color: #000;
    background-color: lightgrey;
    border: none;
    padding: 1rem 0.8rem 1rem 3.5rem;
    border-radius: 10px;
    width: 30rem;
    transition: all .2s;
    margin-left: -3rem; }
    .search__input::-webkit-input-placeholder {
      font-weight: 100;
      color: grey; }
    @media only screen and (max-width: 62.5em) {
      .search__input {
        width: 25rem; } }
    @media only screen and (max-width: 50em) {
      .search__input {
        width: 50rem; } }
    @media only screen and (max-width: 31em) {
      .search__input {
        width: 25rem; } }
  .search__button {
    border: none;
    background-color: lightgrey; }
    .search__button:focus {
      outline: none; }
    .search__button:active {
      transform: translateY(2px); }
  .search__icon-btn {
    height: 2rem;
    width: 2rem;
    color: grey; }

.sidebar {
  margin: 1rem 3rem 3rem 3rem; }
  @media only screen and (max-width: 78em) {
    .sidebar {
      margin: 0.8rem 2.6rem 2.6rem 2.6rem;
      height: 100vh; } }
  @media only screen and (max-width: 37.5em) {
    .sidebar {
      grid-column: 1 / span 2; } }
  .sidebar__box {
    display: flex;
    flex-direction: column;
    gap: 17rem; }
    .sidebar__box-text {
      display: flex;
      flex-direction: column;
      gap: 2rem; }
  .sidebar__container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2);
    padding: 3rem 2rem; }
    @media only screen and (max-width: 37.5em) {
      .sidebar__container {
        display: flex;
        flex-direction: row;
        justify-content: space-around; } }
  .sidebar__link {
    display: flex;
    align-items: center; }
    @media only screen and (max-width: 31em) {
      .sidebar__link {
        display: flex;
        flex-direction: column;
        justify-content: space-around; } }
    .sidebar__link-icon {
      height: 2rem;
      width: 2rem;
      color: grey;
      margin-right: 2rem; }
      @media only screen and (max-width: 37.5em) {
        .sidebar__link-icon {
          margin-right: 1.5rem; } }
      @media only screen and (max-width: 31em) {
        .sidebar__link-icon {
          margin-right: 0; } }
    .sidebar__link-text {
      text-decoration: none;
      font-size: 1.2rem;
      color: #000;
      font-family: sans-serif; }
      @media only screen and (max-width: 31em) {
        .sidebar__link-text {
          text-align: center; } }
    .sidebar__link:hover, .sidebar__link:active {
      box-sizing: border-box;
      display: flex;
      box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2);
      padding: 1rem;
      border-radius: 10px;
      transition: all .2s; }
  .sidebar__content {
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2);
    padding: 1.4rem 1rem; }
    @media only screen and (max-width: 37.5em) {
      .sidebar__content {
        display: none; } }
    .sidebar__content-box {
      display: flex;
      gap: 1rem;
      align-items: center; }
    .sidebar__content-flash {
      box-sizing: border-box;
      background-color: #711EC0;
      color: #fff;
      border-radius: 10px;
      padding: 0.8rem; }
    .sidebar__content-icon {
      height: 1.6rem;
      width: 1.6rem; }
  .sidebar__text {
    display: flex;
    flex-direction: column; }
    .sidebar__text-header {
      font-size: 1.2rem;
      font-family: sans-serif; }
    .sidebar__text-sold {
      font-size: 1rem;
      font-family: sans-serif;
      color: lightgrey; }

.update {
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 15px;
  background-color: rgba(255, 192, 203, 0.2);
  padding: 2rem 1.5rem; }
  @media only screen and (max-width: 37.5em) {
    .update {
      display: none; } }
  .update__box {
    display: flex;
    flex-direction: column;
    gap: 1rem; }
  .update__header {
    font-size: 2rem;
    font-family: sans-serif;
    color: #711EC0; }
  .update__sold {
    font-size: 1.5rem;
    font-family: sans-serif;
    color: lightgrey; }
  .update__text {
    font-size: 1rem;
    font-family: sans-serif;
    color: #711EC0; }

.user {
  margin: 3rem 3rem 1rem 3rem; }
  @media only screen and (max-width: 78em) {
    .user {
      margin: 2.6rem 2.6rem 0.6rem 2.6rem; } }
  @media only screen and (max-width: 50em) {
    .user {
      grid-column: 1 / span 2; } }
  .user__box {
    display: flex;
    flex-direction: column;
    gap: 5rem; }
  .user__img {
    display: flex;
    justify-content: space-around; }
    @media only screen and (max-width: 50em) {
      .user__img {
        display: flex;
        justify-content: start;
        gap: 3rem; } }
    @media only screen and (max-width: 31em) {
      .user__img {
        gap: 1.5rem; } }
    @media only screen and (max-width: 31em) {
      .user__img {
        flex-wrap: wrap; } }
    .user__img-box {
      height: 3rem;
      width: 3rem;
      border-radius: 10px;
      outline-offset: 0.3rem;
      outline: 2px solid lightgrey; }
      .user__img-box:hover, .user__img-box:active {
        outline: 2px solid grey;
        height: 3.5rem;
        width: 3.5rem; }
  .user__text {
    display: flex;
    flex-direction: column; }
  .user__sold {
    font-size: 1rem;
    font-family: sans-serif;
    color: lightgrey;
    padding-top: 0.3rem; }
