.header{
    margin: 3rem;

    @media only screen and (max-width: $bp-largest){
        margin: 2.6rem;
    }

    @media only screen and(max-width: $bp-medium){
        grid-column: 1 / -1;
    }

    &__box{
        display: flex;
        flex-direction: column;
        gap: 2.2rem;

        @media only screen and(max-width: $bp-medium){
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        &-text{
            display: flex;
            flex-direction: column;
        }
    }

    &__sold{
        font-size: 1rem;
        font-family: sans-serif;
        color: lightgrey;

        &-text{
            font-size: 2rem;
            font-family: sans-serif;
        }
    }

    &__img{
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    &__user{
        height: 3.6rem;
        width: 3.6rem;
        border-radius: 50%;
    }
}