.search{
    margin: 3rem 3rem 1rem 3rem;

    @media only screen and (max-width: $bp-largest){
        margin: 0.6rem 2.6rem 0.6rem 2.6rem;
    }

    @media only screen and(max-width: $bp-large){
        margin: 0.6rem 2rem 0.6rem 2rem;
    }

    @media only screen and(max-width: $bp-medium){
        grid-column: 1 / span 2;
    }

    @media only screen and (max-width: $bp-small){
        grid-column: 1 / span 1;
    }

    &__content{
        display: flex;
        flex-direction: column;
        gap: 6rem;
    }

    &__icon{
        display: flex;
        justify-content: end;
        gap: 2rem;

        @media only screen and(max-width: $bp-medium){
            display: none;
        }

        &-person{
            height: 2rem;
            width: 2rem;
        }

        &-not{
            height: 2rem;
            width: 2rem;

            &::before{
                content: "";
                background-color: #ff0000;
                height: 0.6rem;
                width: 0.6rem;
                position: absolute;
                border-radius: 50%;
                margin-left: 1.1rem;
                margin-top: 0.2rem;
            }
        }
    }

    &__form{
        display: flex;
        gap: 2rem;

        &-btn{
            display: flex;
            align-items: center;
            margin-left: 1rem;
            width: 88%;
        }

        &-box{
            background-color: #3E250A;
            color: #fff;
            padding: 1rem 2rem;
            border-radius: 10px;
            font-size: 1rem;
            margin-left: auto;
        }
    }

    &__input{
        font-family: sans-serif;
        font-size: 1.2rem;
        color: #000;
        background-color: rgba(blue, .1);
        border: none;
        padding: 1rem 0.8rem 1rem 3.5rem;
        border-radius: 10px;
        width: 100%;
        transition: all .2s;
        margin-left: -3rem;

        &::-webkit-input-placeholder{
            font-weight: 100;
            color: grey;
        }
    }

    &__button{
        border: none;
        background-color: rgba(blue, .0);

        &:focus{
            outline: none;
        }

        &:active{
            transform: translateY(2px);
        }
    }

    &__icon-btn{
        height: 2rem;
        width: 2rem;
        color: lightgrey;
    }
}