.user{
    margin: 3rem 3rem 1rem 3rem;

    @media only screen and (max-width: $bp-largest){
        margin: 2.6rem 2.6rem 0.6rem 2.6rem;
    }

    @media only screen and(max-width: $bp-large){
        margin: 2rem 1rem 0.6rem 1rem;
    }

    @media only screen and(max-width: $bp-medium){
        grid-row: 4 / span 1;
        margin: 1rem 2.5rem 0 2.5rem;
    }

    @media only screen and (max-width: $bp-small){
        grid-column: 1 / span 1;
        margin: 1.6rem 2rem 0.5rem 2rem;
    }

    @media only screen and (max-width: $bp-smallest){
        margin: 3.6rem 2rem 0.5rem 2rem;
    }

    &__box{
        display: flex;
        flex-direction: column;
        gap: 5rem;

        @media only screen and (max-width: $bp-medium){
            gap: 4rem;
        }
    }

    &__img{
        display: flex;
        gap: 4.2rem;

        @media only screen and(max-width: $bp-medium){
            display: flex;
            justify-content: start;
            // gap: 3rem;
        }

        @media only screen and(max-width: $bp-small){
            display: flex;
        }

        @media only screen and (max-width: $bp-smallest){
            gap: 2.5rem;
            flex-wrap: wrap;
        }

        &-box{
            height: 3rem;
            width: 3rem;
            border-radius: 10px;
            outline-offset: 0.3rem;
            outline: 2px solid lightgrey;

            &:hover,
            &:active{
                outline: 2px solid grey;
                height: 3.5rem;
                width: 3.5rem;
            }
        }
    }

    &__text{
        display: flex;
        flex-direction: column;
    }

    &__sold{
        font-size: 1rem;
        font-family: sans-serif;
        color: lightgrey;
        padding-top: 0.3rem;
    }
}